* {
    padding:0;
    margin:0;
}

html {
    font-size: 16px;
}

@media(min-width:400px){
    html {
        font-size: 15px;
        }
}


@media(min-width:768px){
     html {
         font-size: 15px;
         }
    }
    /* font-size: 5px; */





body {
  /* background-color: rgba(28,28,28,1.0); */
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

/* .row {
  padding-right: 0px !important;
  margin-right: 0px !important;;
} */

.outline {
    border: black solid 2px;
}

.outline2 {
    border: transparent solid 0.5px;
}
img {
    transition: 0.9s all;
}
/* text  ******************************/

.white_text_large {
    font-family: AvenirNext-Regular;
    font-size: 3.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
}

.white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
}

 .h1_white_uppercase  {
    font-family: AvenirNext-Regular;
    font-size: 5.563rem;
    color: #FFFFFF;
    letter-spacing: 2.4px;
    line-height: 80px;
    /* letter-spacing: 2.4px; */
}


 .h1_green_Uppercase  {
    font-family: AvenirNext-Regular;
    font-size: 5.563rem;
    /* font-size: 59px; */
    color: #CDD716;
    letter-spacing: 2.4px;
    line-height: 80px;
    /* letter-spacing: 2.4px; */

}


.h2_black {
    font-family:  AvenirNext-Regular;
    font-size: 5.25rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 5.063rem;
}

.h2_green {
    font-family:  AvenirNext-Regular;
    font-size: 5.25rem;
    color: #CDD716;
    letter-spacing: 0;
    line-height: 5.063rem;
}

.h3_green {
    font-family:  AvenirNext-Regular;
    font-size: 3.188rem;
    color: #CDD716;
    letter-spacing: 0;
}

.p_white_small {
    font-family: AvenirNext-Medium;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 1.438rem;
}

.p_white_medium {
    font-family: AvenirNext-Medium;
    font-size: 1.5rem;
    color: #FFFFFF;
    letter-spacing: 0;
}

.p_white_scuba_uppercase {
    font-family: AvenirNext-Bold;
    font-size: 1.813rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
}

.p_black_small {
    font-family: AvenirNext-Medium;
    font-size: 1rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 1.438rem;
}

.p_black_medium {
    font-family: AvenirNext-Medium;
    font-size: 1.5rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 1.438rem;
}

.p_grey_small {
    font-family: AvenirNext-Medium;
    font-size: 1rem;
    color: #777777;
    letter-spacing: 0;
    line-height: 1.438rem;
}

.p_grey_medium {
    font-family: AvenirNext-Medium;
    font-size: 1.5rem;
    color: #777777;
    letter-spacing: 0;
    line-height: 1.438rem;
}

.p_grey_small {
    font-family: AvenirNext-Regular;
    font-size: 1rem;
    color: #6B6B6B;
    letter-spacing: 0;
    line-height: 26px;
}
.copyright {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.residential_button_col .p_grey_small:hover {
    border: solid 2px #CDD716;
    background-color: #CDD716;
    padding: 2vh 4vw;

}


.title_black_uppercase {
    font-family:  AvenirNext-Regular;
    font-size: 3.75rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-transform: uppercase;
}

.title_green_uppercase {
    font-family:  AvenirNext-Regular;
    font-size: 3.75rem;
    color: #CDD716;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-transform: uppercase;
}

.title_white {
    font-family:  AvenirNext-Regular;
    font-size: 5rem;
    color: #FFFF;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-transform: uppercase;
}

.green_lower_medium {
    font-family:  AvenirNext-Regular;
    font-size: 3.188rem;
    color: #CDD716;
    letter-spacing: 0;
}

.green_upper_case {
    font-family: Arial-Black;
    font-size: 3.75rem;
    color: #CDD716;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-transform: uppercase;
}

.black_uppercase {
    font-family: Arial-Black;
    font-size: 3.75rem;
    color: #CDD716;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-transform: uppercase;
}

.commercial_button {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    color: #9C9C9C;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
}

.commercial_button:hover {
    border: solid 2px #CDD716;
    background-color: #CDD716;
    padding: 2.5vh 4vw;
    transition: 0.5s all;
}

.commercial_button_active {
    border: solid 2px #CDD716;
    background-color: #CDD716;
    padding: 2.5vh 4vw;
    transition: 0.5s all;

}

.residential_button_active {
    border: solid 2px #CDD716;
    background-color: #CDD716;
    padding: 2vh 4vw;
}

.scuba_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
}
.com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
}

.blue_title {
font-family: AvenirNext-Medium;
font-size: 20px;
color: #00C3EE;
letter-spacing: 0;
}

/* text  ******************************/

/* nav  ******************************/
.navbar-brand img {
    height: 121px;
    width: 111px;
    transition: 0.9s all;
}

.navbar {
    height: 10vh;
    /* margin-left: 2vw;
    margin-right: 2vw; */
    padding-right: 5vw;
}

.nav3 {
    /* background-color:#e5e5e5; */
    background-color: #252525;
    /* -left: 2vw; */
    padding-right: 5vw;
    transition: 0.9s all;
    /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */

}
.nav-link:hover, .nav-link:focus {
    border-bottom-color: #cdd716;
    border-top-color: #cdd716;
    color: #cdd716!important;
}

.nav-link {
    padding: .45rem 0;
    font-weight: 700;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    color: #fff;
    margin-left: 2vw;
}

a.nav-link.active {
    color: #cdd716!important;
    border-bottom-color: #cdd716;
    border-top-color: #cdd716;
    transition: 0.9s all;

}

a.nav-link {

    transition: 0.5s all;

}

/* nav  ******************************/


/* cover  ******************************/
.section_cover {
    height: 100vh;
    /* width: 100vw; */
    padding-bottom: 5vh;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/window1.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    border: solid black 2px;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.cover_content {
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vh;
}

.second_row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third_row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.fourth_row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 5vh; */
}

.cover_content  .h1_white_uppercase  {
    font-family: AvenirNext-Regular;
    font-size: 5.563rem;
    color: #FFFFFF;
    letter-spacing: 2.4px;
    line-height: 80px;
    text-align: center;
    /* letter-spacing: 2.4px; */
}


.cover_content .h1_green_Uppercase  {
    font-family: AvenirNext-Regular;
    font-size: 5.563rem;
    /* font-size: 59px; */
    color: #CDD716;
    letter-spacing: 2.4px;
    line-height: 80px;
    text-align: center;

    /* letter-spacing: 2.4px; */
}

.center {
    text-align: center;
}
@media(min-width:576px) {
    .cover_content  .h1_white_uppercase  {
        font-family: AvenirNext-Regular;
        font-size: 5.563rem;
        color: #FFFFFF;
        letter-spacing: 2.4px;
        line-height: 80px;
        /* letter-spacing: 2.4px; */
    }


    .cover_content .h1_green_Uppercase  {
        font-family: AvenirNext-Regular;
        font-size: 5.563rem;
        /* font-size: 59px; */
        color: #CDD716;
        letter-spacing: 2.4px;
        line-height: 80px;
        /* letter-spacing: 2.4px; */

    }
}
@media(min-width:992px) {
    .cover_content  .h1_white_uppercase  {
        font-family: AvenirNext-Regular;
        font-size: 5.563rem;
        color: #FFFFFF;
        letter-spacing: 2.4px;
        line-height: 80px;
        /* letter-spacing: 2.4px; */
    }


    .cover_content .h1_green_Uppercase  {
        font-family: AvenirNext-Regular;
        font-size: 5.563rem;
        /* font-size: 59px; */
        color: #CDD716;
        letter-spacing: 2.4px;
        line-height: 80px;
        /* letter-spacing: 2.4px; */

    }

    .white_text_large {
        font-size: 1.563rem
    }
}

/* About us  ******************************/
#about_us {
    padding-top: 10vh;
}
.section_intro {
    /* height: 100vh; */
    width:100vw;
    margin-top: 2vh;
}

.con_intro {
}

.row1 {
    height: 20vh;
    width:100%;
}

.svg_images {
    height: 50px;
    width:50px;
    margin: 1vw;
}

.image_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* commercial us  ******************************/
.com_section {
    /* height: 100vh; */
    width:100vw;
    padding-top: 10vh;
}


.com_title_row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:0;
}


.com_photo_row {
    display:flex;
    flex-direction: column;

}

.com_image1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/buildingwindow.jpeg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;

}

.com_image1:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}

.com_image1:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #cdd725;
    background-color: #cdd725;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.com_image1:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}


.com_image2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/irata.jpg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;
}

.com_image2:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}


.com_image2:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #cdd725;
    background-color: #cdd725;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.com_image2:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}

.com_image3 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/power2.jpeg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;
}

.com_image3:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}

.com_image3:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #cdd725;
    background-color: #cdd725;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.com_image3:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}
.com_image4 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/small_snow.jpg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;

}

.com_image4:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}

.com_image4:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #cdd725;
    background-color: #cdd725;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.com_image4:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}


.com_image5 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/counter.jpeg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;
}

.com_image5:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}


.com_image5:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #cdd725;
    background-color: #cdd725;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.com_image5:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}

.com_image6 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/aga.jpg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;
}

.com_image6:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}



.com_image6:hover .com_title_text {
font-family: AvenirNext-Bold;
font-size: 1.5rem;
font-size: 29px;
color: #FFFF;
letter-spacing: 0;
text-transform: uppercase;
cursor:pointer;
border: solid 2px #cdd725;
background-color: #cdd725;
padding: 4vh 4vw;
transition: 0.9s all;
}

.com_image6:hover .com_white_text_reg {
font-family: AvenirNext-Regular;
font-size: 1.25rem;
color: #FFFFFF;
letter-spacing: 0;
opacity:1;
transition: 2.5s all;
}



@media(min-width:572px) {

    .com_title_row {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .com_photo_row {
        display:flex;
        flex-direction: ;

    }

    .com_image1 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/buildingwindow.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;

    }

    .com_image1:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }

    .com_image1:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image1:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .com_image2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/irata.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;
    }

    .com_image2:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }


    .com_image2:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image2:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .com_image3 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/power2.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;
    }

    .com_image3:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }

    .com_image3:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image3:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }
    .com_image4 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/small_snow.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;

    }

    .com_image4:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }

    .com_image4:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image4:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .com_image5 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/counter.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;
    }

    .com_image5:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }


    .com_image5:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image5:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .com_image6 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/aga.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;
    }

    .com_image6:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }



    .com_image6:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #cdd725;
    background-color: #cdd725;
    padding: 4vh 4vw;
    transition: 0.9s all;
    }

    .com_image6:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
    }
}




@media(min-width:992px) {
    .com_photo_row {
        display:flex;
        flex-direction: row;

    }

    .com_image1 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/buildingwindow.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 33vw;

    }

    .com_image1:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
    }

    .com_image1:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image1:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .com_image2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/irata.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 33vw;
    }

    .com_image2:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
    }


    .com_image2:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image2:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .com_image3 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/power2.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 34vw;
    }

    .com_image3:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
    }

    .com_image3:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image3:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }
    .com_image4 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/small_snow.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 33vw;

    }

    .com_image4:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
    }

    .com_image4:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image4:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .com_image5 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/counter.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 33vw;
    }

    .com_image5:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
    }


    .com_image5:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image5:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .com_image6 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/aga.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 34vw;
    }

    .com_image6:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
    }
}


.com_image6:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #cdd725;
    background-color: #cdd725;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.com_image6:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}


/* About us  ******************************/






.commercial_section {
    width:100vw;
    margin-top: 10vh;
}

.commercial_section .container-fluid {
    position:relative;
    margin-top: 10vh;

}

.commercial_button_row {
    height:10vh;
    background-color: #FDFDF3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.commercial_text_row {
    margin-top: 10vh;
}

.commercial_title_row {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.row_middle {
    height:20vh;
}

/* .commercial_text_row {
    position: relative;
    top: 20vh;
    left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */

.commercial_text_box{
    border: solid white 0.25em;
    padding: 5vh 5vw;
}

#com_1_image {
    display:flex;
    height: 80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/high_rise_window.jpeg');
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    /* opacity: 1; */
    /* transform:scale(1,1) */
}

#com_1_image .commercial_text_row {
     transform:scale(0,0);
     transition:0.9s all;
 }

#com_2_image {
    position:absolute;
    top:10vh;
    left:0;
    display: flex;
    height:80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/buildingwindow.jpeg');
    background-size: cover;
    background-position: center center;
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    opacity: 0.01;
    /* transform:scale(0,0); */
}

#com_2_image .commercial_text_row {
    transform:scale(0,0);
    transition:0.9s all;
}

#com_2_image  .commercial_text_box{
    border: solid #CDD716 0.25em;
    padding: 5vh 5vw;
}

#com_3_image {
    display:flex;
    position:absolute;
    top:10vh;
    left:0;
    height: 80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/power2.jpeg');
    background-size: cover;
    background-position: center center;
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    opacity: 0.01;

}

#com_3_image .commercial_text_row {
    transform:scale(0,0);
    transition:0.9s all;
}


#com_4_image {
    display:flex;
    position:absolute;
    top:10vh;
    left:0;
    height: 80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/small_snow.jpg');
    background-size: cover;
    background-position: center center;
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    opacity: 0.01;
}

#com_4_image .commercial_text_row {
    transform:scale(0,0);
    transition:0.9s all;
}


#com_5_image {
    display:flex;
    position:absolute;
    top:10vh;
    left:0;
    height: 80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/counter.jpeg');
    background-size: cover;
    background-position: center center;
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    opacity: 0.01;
}


#com_5_image .commercial_text_row {
    transform:scale(0,0);
    transition:0.9s all;
}

#com_5_image  .commercial_text_box{
    border: solid #CDD716 0.25em;
    padding: 5vh 5vw;
}

#com_6_image {
    display:flex;
    position:absolute;
    top:10vh;
    left:0;
    height: 80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/aga.jpg');
    background-size: cover;
    background-position: center center;
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    opacity: 0.01;
}

#com_6_image .commercial_text_row {
    transform:scale(0,0);
    transition:0.9s all;
}

#com_6_image  .commercial_text_box{
    border: solid #CDD716 0.25em;
    padding: 5vh 5vw;
}

/* Residential************ */

.residential_section {
    /* height: 100Vh; */
    width:100vw;
    margin-top: 10vh;
}

.residential img {
    width:100%;
    height: 65vh;
}

.residential_button_col {
    /* background-color: #FDFDF3; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */

}

.res_1 {
    display:block;
    background-image: url('../images/residential/leaves.jpeg');
    background-size: cover;
    background-position: center center;
    height: 40vh;
    transition: 0.9s all;
}

.residential_section .h2_black {
    font-family:  AvenirNext-Regular;
    font-size: 3rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-align: center;
}

@media(min-width:576px){
    .res_1 {
        display:block;
        background-image: url('../images/residential/leaves.jpeg');
        background-size: cover;
        background-position: center center;
        height: 100%;
        transition: 0.9s all;
    }

    .residential_section .h2_black {
        font-family:  AvenirNext-Regular;
        font-size: 4rem;
        color: #333333;
        letter-spacing: 0;
        line-height: 5.063rem;
        text-align: center;
    }


}


@media(min-width:992px){
    .res_1 {
        display:block;
        background-image: url('../images/residential/leaves.jpeg');
        background-size: cover;
        background-position: center center;
        height: 100%;
        transition: 0.9s all;
    }

    .residential_section .h2_black {
        font-family:  AvenirNext-Regular;
        font-size: 5.25rem;
        color: #333333;
        letter-spacing: 0;
        line-height: 5.063rem;
        text-align: left;
    }


}

#res_1 {
    cursor:pointer;
}

#res_2 {
    cursor:pointer;
}

#res_3 {
    cursor:pointer;
}

#res_4 {
    cursor:pointer;

}

#res_5 {
    cursor:pointer;

}

#res_6 {
    cursor:pointer;

}

#res_7 {
    cursor:pointer;

}

#res_8 {
    cursor:pointer;

}

#res_9 {
    cursor:pointer;

}

#res_10 {
    cursor:pointer;

}

.res_2 {
    display:none;
}

.res_3 {
    display:none;
}

.res_4 {
    display:none;
}

.res_5 {
    display:none;
}

.res_6 {
    display:none;
}

.res_7 {
    display:none;
}

.res_8 {
    display:none;
}

.res_9 {
    display:none;
}

.res_10 {
    display:none;
}

/* com************ */



/* moving-section************ */

.moving_section {
    width:100vw;
    margin-top: 10vh;
    /* height: 100vh; */
}

.moving-row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moving_row3 {
    display:flex;
    flex-direction: column-reverse;

}

.moving_button_col {
    /* background-color: #FDFDF3; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* height: 65vh; */
}

#mov_1,
#mov_2,
#mov_3,
#mov_4,
#mov_5 {
    cursor:pointer;
}

.mov_1 {
    display:block;
    background-image: url('../images/moving/bathroom.jpg');
    background-size: cover;
    background-position: center center;
    height: 40vh;
    transition: 0.9s all;
}


.moving_section .title_black_uppercase {
    font-size: 3rem;
    text-align: center;
}

.moving_section .title_green_uppercase {
    font-size: 3rem;
    text-align: center;
}

.moving_button_col .p_grey_small {
    font-size: 1.25rem;
}

.moving_button_col .res_button {
    margin-top: 0.25vh ;
    margin-bottom: 0.25vh ;

}

@media(min-width:576px){
    .mov_1 {
        display:block;
        background-image: url('../images/moving/bathroom.jpg');
        background-size: cover;
        background-position: center center;
        height: 100%;
        transition: 0.9s all;
    }

    .moving_button_col .res_button {
        margin: 1vh 0;
    }
    .moving_section .h2_black {
        font-family:  AvenirNext-Regular;
        font-size: 4rem;
        color: #333333;
        letter-spacing: 0;
        line-height: 5.063rem;
        text-align: center;
    }

    .moving-row {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}


@media(min-width:992px){
    .mov_1 {
        display:block;
        background-image: url('../images/moving/bathroom.jpg');
        background-size: cover;
        background-position: center center;
        height: 100%;
        transition: 0.9s all;
    }

    .moving_section .title_black_uppercase {
        font-size: 3.75rem;
        text-align: center;
    }

    .moving_section .title_green_uppercase {
        font-size: 3.75rem;
        text-align: center;
    }

    .moving-row {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .moving_button_col {
        /* background-color: #FDFDF3; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: center; */
        height: 65vh;
    }
    .moving_row3 {
        display:flex;
        flex-direction: column;

    }
}

/* moving-section************ */

.scuba_section {
    /* height: 100vh; */
    width:100vw;
    margin-top: 5vh;
}

.scuba_title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scuba_photo_row {
    display:flex;
    flex-direction: column;

}


.scuba_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:0;
}

.scuba_photo_row  img {

}

.scuba_image1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/leaves_pool.jpeg');
    background-size: cover;
    background-position: center center;
    height: 40vh;
    width: 100%;

}

.scuba_image1:hover{
    height: 50vh;
    width: 100%;
    transition: 0.9s all;
}

.scuba_image1:hover .scuba_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #cdd725;
    background-color: #cdd725;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.scuba_image1:hover .scuba_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}


.scuba_image2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat1.jpeg');
    background-size: cover;
    background-position: center center;
    height: 40vh;
    width: 100%;
}

.scuba_image2:hover{
    height: 50vh;
    width: 100%;
    transition: 0.9s all;
}


.scuba_image2:hover .scuba_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #cdd725;
    background-color: #cdd725;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.scuba_image2:hover .scuba_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}

.scuba_image3 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat2.jpeg');
    background-size: cover;
    background-position: center center;
    height: 40vh;
    width: 100%;
}

.scuba_image3:hover{
    height: 50vh;
    width: 100%;
    transition: 0.9s all;
}



@media(min-width:572px) {

    .scuba_photo_row {
        display:flex;
        flex-direction: column;
    }

    .scuba_image1 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/leaves_pool.jpeg');
        background-size: cover;
        background-position: center center;
        height: 40vh;
        width: 100%;

    }

    .scuba_image1:hover{
        height: 50vh;
        width: 100%;
        transition: 0.9s all;
    }

    .scuba_image1:hover .scuba_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .scuba_image1:hover .scuba_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .scuba_image2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat1.jpeg');
        background-size: cover;
        background-position: center center;
        height: 40vh;
        width: 100%;
    }

    .scuba_image2:hover{
        height: 50vh;
        width: 100%;
        transition: 0.9s all;
    }


    .scuba_image2:hover .scuba_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .scuba_image2:hover .scuba_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .scuba_image3 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat2.jpeg');
        background-size: cover;
        background-position: center center;
        height: 40vh;
        width: 100%
    }

    .scuba_image3:hover{
        height: 50vh;
        width: 100%;
        transition: 0.9s all;
    }

}


@media(min-width:992px) {
    .scuba_photo_row {
        display:flex;
        flex-direction: row;

    }

    .scuba_image1 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/leaves_pool.jpeg');
        background-size: cover;
        background-position: center center;
        height: 60vh;
        width: 33vw;

    }

    .scuba_image1:hover{
        height: 60vh;
        width: 50vw;
        transition: 0.9s all;
    }

    .scuba_image1:hover .scuba_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .scuba_image1:hover .scuba_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .scuba_image2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat1.jpeg');
        background-size: cover;
        background-position: center center;
        height: 60vh;
        width: 33vw;
    }

    .scuba_image2:hover{
        height: 60vh;
        width: 50vw;
        transition: 0.9s all;
    }


    .scuba_image2:hover .scuba_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        font-size: 29px;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #cdd725;
        background-color: #cdd725;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .scuba_image2:hover .scuba_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .scuba_image3 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat2.jpeg');
        background-size: cover;
        background-position: center center;
        height: 60vh;
        width: 34vw;
    }

    .scuba_image3:hover{
        height: 60vh;
        width: 50vw;
        transition: 0.9s all;
    }

}


.scuba_image3:hover .scuba_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    font-size: 29px;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #cdd725;
    background-color: #cdd725;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.scuba_image3:hover .scuba_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}


.section_testimonial {
    width:100vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


@media(min-width: 576px) {
    .section_testimonial {
        width:100vw;
    }
 }


 @media(min-width: 992px) {
     .section_testimonial .container{
         width:100vw;
         /* height:100vh; */
         margin-top: 10vh;
     }
  }
/* contact us section */

.section_contact {
    width:100vw;
    /* height:75vh; */
    padding-top: 10vh;
    margin-bottom: 10vh
}

@media(min-width:572px){
    .section_contact {
        width:100vw;
        height:75vh;
        padding-top: 5vh;
        margin-bottom: 10vh
    }
}

@media(min-width:992px){
    .section_contact {
        width:100vw;
        height:75vh;
        padding-top: 5vh;
        margin-bottom: 15vh
    }
}

.section_contact a,
.section_contact a:hover,
.section_contact a:focus{
  color: black;
}

.contact_title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    background-color: #FDFDF3;
}
.contact_column {
    background-color: #FDFDF3;
}

.map {
    height:40vh;
    width:100%;
}

@media(min-width:572px){
    .map {
        height:100%;
        width:100%;
    }
}

/* contact us section */

.footer_con {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #252525;
    /* color: #9c9c9c !important!; */
    /* text-align: center; */

}


.footer_con {
    /* background-color: #b2b2b2 */
    background-color: #252525;
    margin-top: 10vh;

}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.row_svg {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer_svg {
    height: 1.0rem;
    padding-right: 1rem;

}
.footer_col2  img {
    height: 1.5rem;
}


.footer_col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9c9c9c !important!;

}

@media(min-width:992px){
    .footer_col2 {
        display: flex;
        flex-direction: column;
    }
    .footer_col3 {
        display: flex;
        flex-direction: column;
        align-items:  flex-end;
        color: #9c9c9c !important!;
    }
}

@media(min-width:992px){
    .footer_col1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer_col2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer_col3 {
        display: flex;
        flex-direction: column;
        align-items:  flex-end;
        justify-content: flex-start;
        align-items: flex-start;
        color: #9c9c9c !important!;
    }
}

/* .footer_col3 .info {
    display:flex;
    flex-direction: column;
    align-items: flex-end;

}

.footer_col2 .info {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
} */
