* {
    padding:0;
    margin:0;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* use min-height 100 vh instead of height to allow extended height with large content */
}

html {
    font-size: 16px;
}

@media(min-width:200px){
    html {
        font-size: 10px;
        }
        .p_grey_small {
            font-family: AvenirNext-Medium;
            font-size: 1.3rem;
            color: #777777;
            letter-spacing: 0;
            line-height: 1.438rem;
        }

}


@media(min-width:768px){
     html {
         font-size: 15px;
         }
    }
    /* font-size: 5px; */


body {
    width:100vw;
    /* font-family: 'Bowlby One SC'!important; */

  /* background-color: rgba(28,28,28,1.0); */
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}



.outline {
    border: black solid 2px;
}

.outline2 {
    border: transparent solid 0.5px;
}
img {
    transition: 0.9s all;
}
/* text  ******************************/

.pacifico{
    font-family: 'Pacifico', cursive;
    font-size: 5.563rem;
    color: #419fd0;

      /* background-color: rgba(28,28,28,1.0); */
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
      /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

.lobster {
    font-family: 'Lobster', cursive;
    font-size: 5.563rem;
    color: #419fd0;

}

.sonsie {
    font-family: 'Sonsie One', cursive;
    font-size: 2.563rem;
    color: ;
    text-align: center;
    -webkit-text-stroke: 1px white;
    background: -webkit-linear-gradient(#FFF, #419fd0);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.white_text_large {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
}




@media(min-width:576px) {
    .sonsie {
        font-family: 'Sonsie One', cursive;
        font-size: 4.563rem;
        color: #419fd0;
        text-align: center;

    }
    .white_text_large {
        font-family: AvenirNext-Regular;
        font-size: 3.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
    }
    .p_grey_small {
        font-family: AvenirNext-Regular;
        font-size: 1rem;
        color: #6B6B6B;
        letter-spacing: 0;
        line-height: 26px;
    }
}

@media(min-width:992px) {
    .sonsie {
        font-family: 'Sonsie One', cursive;
        font-size: 4.563rem;
        color: #419fd0;
        text-align: center;

    }
    .white_text_large {
        font-family: AvenirNext-Regular;
        font-size: 3.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
    }
}


.white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
}

 .h1_white_uppercase  {
    font-family: AvenirNext-Regular;
    font-size: 5.563rem;
    color: #FFFFFF;
    letter-spacing: 2.4px;
    line-height: 80px;
    /* letter-spacing: 2.4px; */
}


 .h1_green_Uppercase  {
    font-family: AvenirNext-Regular;
    font-size: 5.563rem;
    /* font-size: 59px; */
    color: #419fd0;
    #419fd0
    letter-spacing: 2.4px;
    line-height: 80px;
    /* letter-spacing: 2.4px; */

}


.h2_black {
    font-family:  AvenirNext-Regular;
    font-size: 4.25rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 5.063rem;
}

.h2_green {
    font-family:  AvenirNext-Regular;
    font-size: 4.25rem;
    color: #419fd0;
    letter-spacing: 0;
    line-height: 5.063rem;
}

.h3_green {
    font-family:  AvenirNext-Regular;
    font-size: 3.188rem;
    color: #419fd0;
    letter-spacing: 0;
}

.p_white_small {
    font-family: AvenirNext-Medium;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 1.438rem;
}

.p_white_medium {
    font-family: AvenirNext-Medium;
    font-size: 1.5rem;
    color: #FFFFFF;
    letter-spacing: 0;
}

.p_white_scuba_uppercase {
    font-family: AvenirNext-Bold;
    font-size: 1.813rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: uppercase;
}

.p_black_small {
    font-family: AvenirNext-Medium;
    font-size: 1rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 1.438rem;
}

.p_black_medium {
    font-family: AvenirNext-Medium;
    font-size: 1.5rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 1.438rem;
}



.p_grey_medium {
    font-family: AvenirNext-Medium;
    font-size: 1.5rem;
    color: #777777;
    letter-spacing: 0;
    line-height: 1.438rem;
}


.copyright {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.residential_button_col .p_grey_small:hover {
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 2vh 4vw;

}


.title_black_uppercase {
    font-family:  AvenirNext-Regular;
    font-size: 3.75rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-transform: uppercase;
}

.title_green_uppercase {
    font-family:  AvenirNext-Regular;
    font-size: 3.75rem;
    color: #419fd0;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-transform: uppercase;
}

.title_white {
    font-family:  AvenirNext-Regular;
    font-size: 5rem;
    color: #FFFF;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-transform: uppercase;
}

.green_lower_medium {
    font-family:  AvenirNext-Regular;
    font-size: 3.188rem;
    color: #419fd0;
    letter-spacing: 0;
}

.green_upper_case {
    font-family: Arial-Black;
    font-size: 3.75rem;
    color: #419fd0;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-transform: uppercase;
}

.black_uppercase {
    font-family: Arial-Black;
    font-size: 3.75rem;
    color: #419fd0;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-transform: uppercase;
}

.commercial_button {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    color: #9C9C9C;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
}

.commercial_button:hover {
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 2.5vh 4vw;
    transition: 0.5s all;
}

.commercial_button_active {
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 2.5vh 4vw;
    transition: 0.5s all;

}

.residential_button_active {
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 2vh 4vw;
    color:white !important;
    font-weight: bold !important;

}

.scuba_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
}
.com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.8125rem;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
}

.blue_title {
font-family: AvenirNext-Medium;
font-size: 20px;
color: #00C3EE;
letter-spacing: 0;
}

/* text  ******************************/

/* nav  ******************************/
.navbar-brand img {
    height: 111px;
    width: 110px;
    transition: 0.9s all;
    padding-top: 2vh;
}

.navbar {
    height: 10vh;
    /* margin-left: 2vw;
    margin-right: 2vw; */
    padding-right: 5vw;
}

.nav3 {
    /* background-color:#e5e5e5; */
    background-color: #252525;
    /* -left: 2vw; */
    padding-right: 5vw;
    transition: 0.9s all;
    /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */

}
.nav-link:hover, .nav-link:focus {
    border-bottom-color: #62bfef;
    border-top-color: #62bfef;
    color: #62bfef!important;
}

.nav-link {
    padding: .45rem 0;
    font-weight: 700;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    color: #fff;
    margin-left: 2vw;
}

a.nav-link.active {
    color: #62bfef!important;
    border-bottom-color: #62bfef;
    border-top-color: #62bfef;
    transition: 0.9s all;

}

a.nav-link {

    transition: 0.5s all;

}

/* nav  ******************************/


/* cover  ******************************/
.section_cover {
    height: 100vh;
    /* width: 100vw; */
    padding-bottom: 5vh;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/residential/window.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    border: solid black 2px;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.cover_content {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vh;
}

.second_row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third_row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.fourth_row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 5vh; */
}

.cover_content  .h1_white_uppercase  {
    font-family: AvenirNext-Regular;
    font-size: 5.563rem;
    color: #FFFFFF;
    letter-spacing: 2.4px;
    line-height: 80px;
    text-align: center;
    /* letter-spacing: 2.4px; */
}


.cover_content .h1_green_Uppercase  {
    font-family: AvenirNext-Regular;
    font-size: 4.563rem;
    /* font-size: 59px; */
    color: #419fd0;
    letter-spacing: 2.4px;
    line-height: 80px;
    text-align: center;

    /* letter-spacing: 2.4px; */
}

.center {
    text-align: center;
}
@media(min-width:576px) {
    .cover_content  .h1_white_uppercase  {
        font-family: AvenirNext-Regular;
        font-size: 5.563rem;
        color: #FFFFFF;
        letter-spacing: 2.4px;
        line-height: 80px;
        /* letter-spacing: 2.4px; */
    }


    .cover_content .h1_green_Uppercase  {
        font-family: AvenirNext-Regular;
        font-size: 5.563rem;
        /* font-size: 59px; */
        color: #419fd0;
        letter-spacing: 2.4px;
        line-height: 80px;
        /* letter-spacing: 2.4px; */

    }
}
@media(min-width:992px) {
    .cover_content  .h1_white_uppercase  {
        font-family: AvenirNext-Regular;
        font-size: 5.563rem;
        color: #FFFFFF;
        letter-spacing: 2.4px;
        line-height: 80px;
        /* letter-spacing: 2.4px; */
    }


    .cover_content .h1_green_Uppercase  {
        font-family: AvenirNext-Regular;
        font-size: 5.563rem;
        /* font-size: 59px; */
        color: #419fd0;
        letter-spacing: 2.4px;
        line-height: 80px;
        /* letter-spacing: 2.4px; */

    }

    .white_text_large {
        font-size: 1.563rem
    }
}

/* About us  ******************************/
#about_us {
    padding-top: 10vh;
}
.section_intro {
    /* height: 100vh; */
    width:100vw;
    margin-top: 2vh;
}

.con_intro {
}

.row1 {
    height: 20vh;
    width:100%;
}

.svg_images {
    height: 50px;
    width:50px;
    margin: 1vw;
}

.image_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* commercial us  ******************************/
.com_section {
    /* height: 100vh; */
    width:100vw;
    padding-top: 10vh;
}


.com_title_row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:0;
}


.com_photo_row {
    display:flex;
    flex-direction: column;

}

.com_image1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/buildingwindow.jpeg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;

}

.com_image1:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}

.com_image1:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.8125rem;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 4vh 4vw;
    transition: 0.9s all;
}


.com_image1:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}


.com_image2 {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/irata.jpg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;
}

.com_image2:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}


.com_image2:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.8125rem;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.com_image2:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 0.9s all;
}

.com_image3 {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/power2.jpeg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;
}

.com_image3:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}

.com_image3:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.8125rem;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.com_image3:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}
.com_image4 {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/small_snow.jpg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;

}

.com_image4:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}

.com_image4:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.8125rem;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.com_image4:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}


.com_image5 {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/counter.jpeg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;
}

.com_image5:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}


.com_image5:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.8125rem;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.com_image5:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}

.com_image6 {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/aga.jpg');
    background-size: cover;
    background-position: center center;
    height: 35vh;
    width: 100%;
}

.com_image6:hover{
    height: 45vh;
    width: 100%;
    transition: 0.9s all;
}


.com_image6:hover .com_title_text {
font-family: AvenirNext-Bold;
font-size: 1.8125rem;
color: #FFFF;
letter-spacing: 0;
text-transform: uppercase;
cursor:pointer;
border: solid 2px #419fd0;
background-color: #419fd0;
padding: 4vh 4vw;
transition: 0.9s all;
}

.com_image6:hover .com_white_text_reg {
font-family: AvenirNext-Regular;
font-size: 1.25rem;
color: #FFFFFF;
letter-spacing: 0;
opacity:1;
transition: 2.5s all;
}



 @media(min-width:572px) {

    .com_title_row {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .com_photo_row {
        display:flex;
        flex-direction: ;

    }

    .com_image1 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/buildingwindow.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;

    }

    .com_image1:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }

    .com_image1:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image1:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .com_image2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/irata.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;
    }

    .com_image2:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }


    .com_image2:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image2:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .com_image3 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/power2.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;
    }

    .com_image3:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }

    .com_image3:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image3:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }
    .com_image4 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/small_snow.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;

    }

    .com_image4:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }

    .com_image4:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image4:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .com_image5 {
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/counter.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;
    }

    .com_image5:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }


    .com_image5:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image5:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .com_image6 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/aga.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 100%;
    }

    .com_image6:hover{
        height: 45vh;
        width: 100%;
        transition: 0.9s all;
    }

    .com_image6:hover .com_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.8125rem;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 4vh 4vw;
    transition: 0.9s all;
    }

    .com_image6:hover .com_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
    }
}




@media(min-width:992px) {
    .com_photo_row {
        display:flex;
        flex-direction: row;

    }

    .com_image1 {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/buildingwindow.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 33vw;

    }

    .com_image1:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
    }

    .com_image1:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image1:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .com_image2 {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/irata.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 33vw;
    }

    .com_image2:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
        justify-content: flex-end;

    }


     .com_image2:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

     .com_image2:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .com_image3 {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/power2.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 34vw;
    }

    .com_image3:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
    }

    .com_image3:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image3:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }
    .com_image4 {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/small_snow.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 33vw;

    }

    .com_image4:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
    }

    .com_image4:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image4:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .com_image5 {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/counter.jpeg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 33vw;
    }

    .com_image5:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
        justify-content: center;

    }


    .com_image5:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image5:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .com_image6 {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/aga.jpg');
        background-size: cover;
        background-position: center center;
        height: 35vh;
        width: 34vw;
    }

    .com_image6:hover{
        height: 35vh;
        width: 50vw;
        transition: 0.9s all;
    }
    .com_image6:hover .com_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.8125rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .com_image6:hover .com_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }
}




/* About us  ******************************/



.commercial_section {
    width:100vw;
    margin-top: 10vh;
}

.commercial_section .container-fluid {
    position:relative;
    margin-top: 10vh;

}

.commercial_button_row {
    height:10vh;
    background-color: #FDFDF3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.commercial_text_row {
    margin-top: 10vh;
}

.commercial_title_row {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.row_middle {
    height:20vh;
}

/* .commercial_text_row {
    position: relative;
    top: 20vh;
    left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */

.commercial_text_box{
    border: solid white 0.25em;
    padding: 5vh 5vw;
}

#com_1_image {
    display:flex;
    height: 80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/high_rise_window.jpeg');
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    /* opacity: 1; */
    /* transform:scale(1,1) */
}

#com_1_image .commercial_text_row {
     transform:scale(0,0);
     transition:0.9s all;
 }

#com_2_image {
    position:absolute;
    top:10vh;
    left:0;
    display: flex;
    height:80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/buildingwindow.jpeg');
    background-size: cover;
    background-position: center center;
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    opacity: 0.01;
    /* transform:scale(0,0); */
}

#com_2_image .commercial_text_row {
    transform:scale(0,0);
    transition:0.9s all;
}

#com_2_image  .commercial_text_box{
    border: solid #419fd0 0.25em;
    padding: 5vh 5vw;
}

#com_3_image {
    display:flex;
    position:absolute;
    top:10vh;
    left:0;
    height: 80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/power2.jpeg');
    background-size: cover;
    background-position: center center;
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    opacity: 0.01;

}

#com_3_image .commercial_text_row {
    transform:scale(0,0);
    transition:0.9s all;
}


#com_4_image {
    display:flex;
    position:absolute;
    top:10vh;
    left:0;
    height: 80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/small_snow.jpg');
    background-size: cover;
    background-position: center center;
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    opacity: 0.01;
}

#com_4_image .commercial_text_row {
    transform:scale(0,0);
    transition:0.9s all;
}


#com_5_image {
    display:flex;
    position:absolute;
    top:10vh;
    left:0;
    height: 80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/counter.jpeg');
    background-size: cover;
    background-position: center center;
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    opacity: 0.01;
}


#com_5_image .commercial_text_row {
    transform:scale(0,0);
    transition:0.9s all;
}

#com_5_image  .commercial_text_box{
    border: solid #419fd0 0.25em;
    padding: 5vh 5vw;
}

#com_6_image {
    display:flex;
    position:absolute;
    top:10vh;
    left:0;
    height: 80vh;
    background-image: linear-gradient(rgba(63, 115, 189, 0.5), rgba(63, 115, 189, 0.5)), url('../images/aga.jpg');
    background-size: cover;
    background-position: center center;
    width:100%;
    flex-direction: column;
    transition:0.9s all;
    opacity: 0.01;
}

#com_6_image .commercial_text_row {
    transform:scale(0,0);
    transition:0.9s all;
}

#com_6_image  .commercial_text_box{
    border: solid #419fd0 0.25em;
    padding: 5vh 5vw;
}

/* Residential************ */

.residential_section {
    /* height: 100Vh; */
    width:100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;

}


.residential_button_col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.residential-col {
    position:relative;
}

.residential_button_col .p_grey_small {
       color:white;
       font-weight: bold;
}

.res_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/residential/leaves.jpeg');
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 55vh;
    width:100%;
    transition: 0.9s all;
    opacity:1;
}

.res_2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/residential/snow2.jpeg");
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 55vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

.res_3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/residential/squeegee.jpeg");
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 55vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

.res_4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/residential/moving.jpeg");
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 55vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

.res_5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/residential/power.jpeg");
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 55vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

.res_6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/residential/construction.jpeg");
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 55vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

.res_7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/residential/carpet.jpeg");
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 55vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}


.res_8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/residential/lights.jpeg");
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 55vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

.res_9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/residential/sink1.jpeg");
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 55vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

.res_10 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/residential/mopping.jpeg");
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 55vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}


.residential_section .h2_black {
    font-family:  AvenirNext-Regular;
    font-size: 3rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 5.063rem;
    text-align: center;
}


@media(min-width:576px){
    .res_image {
        height:100%;
    }

    .residential_button_col {
        /* height:35vh; */
    }
    .residential_section .h2_black {
        font-family:  AvenirNext-Regular;
        font-size: 4rem;
        color: #333333;
        letter-spacing: 0;
        line-height: 5.063rem;
        text-align: center;
    }
    .residential_button_col .p_grey_small {
        font-family: AvenirNext-Medium;
        font-size: 1rem;
        color: #777777;
        letter-spacing: 0;
        line-height: 1.438rem;
        font-weight: normal;
    }


}


@media(min-width:992px){
    .res_image {
        height:60vh;
    }
    .residential_section .h2_black {
        font-family:  AvenirNext-Regular;
        font-size: 5.25rem;
        color: #333333;
        letter-spacing: 0;
        line-height: 5.063rem;
        text-align: left;
    }

    .residential_button_col .p_grey_small {
        font-family: AvenirNext-Medium;
        font-size: 1rem;
        color: #777777;
        letter-spacing: 0;
        line-height: 1.438rem;
        font-weight: normal;
    }

    .residential_button_col {
        height:60vh;
    }


}

#res_1,
#res_2,
#res_3,
#res_4,
#res_5,
#res_6,
#res_7,
#res_8,
#res_9,
#res_10 {
    cursor:pointer;
}


/* com************ */



/* moving-section************ */

.moving_section {
    width:100vw;
    margin-top: 20vh;
    height: 80vh;
}



.moving-row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moving_row3 {
    display:flex;
    flex-direction: column-reverse;

}

.moving_button_col {
    /* background-color: #FDFDF3; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* height: 65vh; */
}

#mov_1,
#mov_2,
#mov_3,
#mov_4,
#mov_5 {
    cursor:pointer;
}
.mov_image_col {
    position:relative;
    transition: 0.9s all;
}

.mov_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/moving/bathroom.jpg');
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 40vh;
    width:100%;
    transition: 0.9s all;
    opacity:1;
}


.mov_2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/moving/broom.jpeg');
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 40vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

.mov_3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../images/moving/vacuuming.jpeg');
    background-size: cover;
    background-position: center center;
    position:absolute;
    left: 0;
    top: 0;
    display:block;
    height: 40vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

.mov_4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../images/moving/walls.jpeg');
    background-size: cover;
    background-position: center center;
    display:block;
    left: 0;
    top: 0;
    position:absolute;
    height: 40vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

.mov_5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../images/moving/dusting.jpeg');
    background-size: cover;
    background-position: center center;
    display:block;
    left: 0;
    top: 0;
    position:absolute;
    height: 40vh;
    width:100%;
    transition: 0.9s all;
    opacity:0;
}

 .moving_button_col .p_grey_small {
        color:white;
        font-weight: bold;
 }

.moving_section .title_black_uppercase {
    font-size: 3rem;
    text-align: center;
}

.moving_section .title_green_uppercase {
    font-size: 3rem;
    text-align: center;
}

.moving_button_col .p_grey_small {
    font-size: 1.25rem;
}

.moving_button_col .res_button {
    margin-top: 0.25vh ;
    margin-bottom: 0.25vh ;

}

@media(min-width:576px){
    .moving_section {
        width:100vw;
        margin-top: 10vh;
        height: 65vh;
    }
    .mov_image {
        height: 40vh;
    }
    .moving_button_col .p_grey_small {
        font-family: AvenirNext-Medium;
        font-size: 1rem;
        color: #777777;
        letter-spacing: 0;
        line-height: 1.438rem;
    }
    .moving_button_col .res_button {
        margin: 1vh 0;
    }
    .moving_section .h2_black {
        font-family:  AvenirNext-Regular;
        font-size: 4rem;
        color: #333333;
        letter-spacing: 0;
        line-height: 5.063rem;
        text-align: center;
    }

    .moving-row {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .moving_button_col .p_grey_small {
        font-family: AvenirNext-Medium;
        font-size: 1rem;
        color: #777777;
        letter-spacing: 0;
        line-height: 1.438rem;
        font-weight: normal;
    }
}


@media(min-width:992px){

    .mov_image {
        height: 65vh;
    }
    .moving_section {
        width:100vw;
        margin-top: 20vh;
        height: 100vh;
    }

    .moving_button_col .p_grey_small {
        font-family: AvenirNext-Medium;
        font-size: 1rem;
        color: #777777;
        letter-spacing: 0;
        line-height: 1.438rem;
        font-weight: normal;
    }
    .moving_section .title_black_uppercase {
        font-size: 3.75rem;
        text-align: center;
    }

    .moving_section .title_green_uppercase {
        font-size: 3.75rem;
        text-align: center;
    }

    .moving-row {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .moving_button_col {
        /* background-color: #FDFDF3; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: center; */
        height: 65vh;
    }
    .moving_row3 {
        display:flex;
        flex-direction: column;

    }
}

/* moving-section************ */

.scuba_section {
    /* height: 100vh; */
    width:100vw;
    margin-top: 5vh;
}

.scuba_title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scuba_row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scuba_photo_row {
    display:flex;
    flex-direction: column;
}

.aligncenter {
    text-align: center;
}

.scuba_title .title_black_uppercase {
    text-align: center;
    width:100%;
}

.scuba_title .title_green_uppercase {
    text-align: center;
    width:100%;
}

.scuba_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:0;
}

.scuba_photo_row  img {

}

.scuba_image1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/leaves_pool.jpeg');
    background-size: cover;
    background-position: center center;
    height: 40vh;
    width: 100%;

}

.scuba_image1:hover{
    height: 50vh;
    width: 100%;
    transition: 0.9s all;
}

.scuba_image1:hover .scuba_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.scuba_image1:hover .scuba_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}


.scuba_image2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat1.jpeg');
    background-size: cover;
    background-position: center center;
    height: 40vh;
    width: 100%;
}

.scuba_image2:hover{
    height: 50vh;
    width: 100%;
    transition: 0.9s all;
}


.scuba_image2:hover .scuba_title_text {
    font-family: AvenirNext-Bold;
    font-size: 1.5rem;
    color: #FFFF;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor:pointer;
    border: solid 2px #419fd0;
    background-color: #419fd0;
    padding: 4vh 4vw;
    transition: 0.9s all;
}

.scuba_image2:hover .scuba_white_text_reg {
    font-family: AvenirNext-Regular;
    font-size: 1.25rem;
    color: #FFFFFF;
    letter-spacing: 0;
    opacity:1;
    transition: 2.5s all;
}

.scuba_image3 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat2.jpeg');
    background-size: cover;
    background-position: center center;
    height: 40vh;
    width: 100%;
}

.scuba_image3:hover{
    height: 50vh;
    width: 100%;
    transition: 0.9s all;
}



@media(min-width:572px) {

    .scuba_photo_row {
        display:flex;
        flex-direction: column;
    }


    .scuba_row {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .scuba_image1 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/leaves_pool.jpeg');
        background-size: cover;
        background-position: center center;
        height: 40vh;
        width: 100%;

    }

    .scuba_image1:hover{
        height: 50vh;
        width: 100%;
        transition: 0.9s all;
    }

    .scuba_image1:hover .scuba_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .scuba_image1:hover .scuba_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .scuba_image2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat1.jpeg');
        background-size: cover;
        background-position: center center;
        height: 40vh;
        width: 100%;
    }

    .scuba_image2:hover{
        height: 50vh;
        width: 100%;
        transition: 0.9s all;
    }


    .scuba_image2:hover .scuba_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .scuba_image2:hover .scuba_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .scuba_image3 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat2.jpeg');
        background-size: cover;
        background-position: center center;
        height: 40vh;
        width: 100%
    }

    .scuba_image3:hover{
        height: 50vh;
        width: 100%;
        transition: 0.9s all;
    }

    .scuba_image3:hover .scuba_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .scuba_image3:hover .scuba_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .scuba_title .title_black_uppercase {
        text-align: left;
    }

    .scuba_title .title_green_uppercase {
        text-align: left;
    }
}


@media(min-width:992px) {
    .scuba_photo_row {
        display:flex;
        flex-direction: row;

    }
    .scuba_row {
        display:flex;
        flex-direction: row;
        text-align: center;
    }
    .scuba_title {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .scuba_image1 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/leaves_pool.jpeg');
        background-size: cover;
        background-position: center center;
        height: 60vh;
        width: 33vw;

    }

    .scuba_image1:hover{
        height: 60vh;
        width: 50vw;
        transition: 0.9s all;
    }

    .scuba_image1:hover .scuba_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .scuba_image1:hover .scuba_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }


    .scuba_image2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat1.jpeg');
        background-size: cover;
        background-position: center center;
        height: 60vh;
        width: 33vw;
    }

    .scuba_image2:hover{
        height: 60vh;
        width: 50vw;
        transition: 0.9s all;
    }


    .scuba_image2:hover .scuba_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .scuba_image2:hover .scuba_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .scuba_image3 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/boat2.jpeg');
        background-size: cover;
        background-position: center center;
        height: 60vh;
        width: 34vw;
    }

    .scuba_image3:hover .scuba_title_text {
        font-family: AvenirNext-Bold;
        font-size: 1.5rem;
        color: #FFFF;
        letter-spacing: 0;
        text-transform: uppercase;
        cursor:pointer;
        border: solid 2px #419fd0;
        background-color: #419fd0;
        padding: 4vh 4vw;
        transition: 0.9s all;
    }

    .scuba_image3:hover .scuba_white_text_reg {
        font-family: AvenirNext-Regular;
        font-size: 1.25rem;
        color: #FFFFFF;
        letter-spacing: 0;
        opacity:1;
        transition: 2.5s all;
    }

    .scuba_image3:hover{
        height: 60vh;
        width: 50vw;
        transition: 0.9s all;
    }

}




.section_testimonial {
    width:100vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


@media(min-width: 576px) {
    .section_testimonial {
        width:100vw;
    }
 }


 @media(min-width: 992px) {
     .section_testimonial .container{
         width:100vw;
         /* height:100vh; */
         margin-top: 10vh;
     }
  }
/* contact us section */

.section_contact {
    width:100vw;
    /* height:75vh; */
    padding-top: 10vh;
    margin-bottom: 10vh
}

@media(min-width:572px){
    .section_contact {
        width:100vw;
        height:75vh;
        padding-top: 5vh;
        margin-bottom: 10vh
    }

    .h2_black {
        font-family:  AvenirNext-Regular;
        font-size: 5.25rem;
        color: #333333;
        letter-spacing: 0;
        line-height: 5.063rem;
    }

    .h2_green {
        font-family:  AvenirNext-Regular;
        font-size: 5.25rem;
        color: #419fd0;
        letter-spacing: 0;
        line-height: 5.063rem;
    }
}

@media(min-width:992px){
    .section_contact {
        width:100vw;
        height:75vh;
        padding-top: 5vh;
        margin-bottom: 15vh
    }

    .h2_black {
        font-family:  AvenirNext-Regular;
        font-size: 5.25rem;
        color: #333333;
        letter-spacing: 0;
        line-height: 5.063rem;
    }

    .h2_green {
        font-family:  AvenirNext-Regular;
        font-size: 5.25rem;
        color: #419fd0;
        letter-spacing: 0;
        line-height: 5.063rem;
    }
}

.section_contact a,
.section_contact a:hover,
.section_contact a:focus{
  color: black;
}

.contact_title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    background-color: #FDFDF3;
}
.contact_column {
    background-color: #FDFDF3;
}

.map {
    height:40vh;
    width:100%;
}

@media(min-width:572px){
    .map {
        height:100%;
        width:100%;
    }
}

/* contact us section */

.footer_con {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #252525;
    /* color: #9c9c9c !important!; */
    /* text-align: center; */

}


.footer_con {
    /* background-color: #b2b2b2 */
    background-color: #252525;
    margin-top: 10vh;

}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.row_svg {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer_svg {
    height: 1.0rem;
    padding-right: 1rem;

}
.footer_col2  img {
    height: 1.5rem;
}


.footer_col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9c9c9c !important!;

}

@media(min-width:992px){
    .footer_col2 {
        display: flex;
        flex-direction: column;
    }
    .footer_col3 {
        display: flex;
        flex-direction: column;
        align-items:  flex-end;
        color: #9c9c9c !important!;
    }
}

@media(min-width:992px){
    .footer_col1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer_col2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer_col3 {
        display: flex;
        flex-direction: column;
        align-items:  flex-end;
        justify-content: flex-start;
        align-items: flex-start;
        color: #9c9c9c !important!;
    }
}

/* .footer_col3 .info {
    display:flex;
    flex-direction: column;
    align-items: flex-end;

}

.footer_col2 .info {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
} */
